<style>
  .center {
    margin: auto;
    width: 60%;
  }
</style>

<div class="panel panel-primary center">
  <div class="panel-heading">Add new link to watch</div>
  <div class="panel-body">
    <input class="col-5" type="text" name="link" placeholder="Link to watch...">
    <br>
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Group of pages?</label>
    <input class="col-5" type="text" name="pages" placeholder="Page counter identifier...">
    <br>
    <br>
    <div style="text-align: center;">
      <button type="button" class="btn btn-primary">Add</button>
    </div>
  </div>
</div>
<br>
<br>
<div class="panel panel-primary center">
  <div class="panel-heading">My watch links</div>
  <div class="panel-body">
    
  </div>
</div>

<br>
<br>

<div class="center" style="text-align: right;">
  <a href="#"> Log out </a>
</div>